body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

button {
    background: none;
    border: none;
}

#choices {
    width: 30%;
    margin:auto;
    display:block;
    align-items:center;
    font-size: 2em;
}

#result {
    width: 50%;
    margin: auto;
    font-size: 3em;
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

#buttons {
    width: 50%;
    margin: auto;
}

#game {
    display: flex;
    flex-direction: column;



}